
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:'poppins',sans-serif;
 
}
body{
    background-color: #5790AB;
}
a{
    color: inherit;
    text-decoration: none;
}

.header{
    background-color:#5790AB;
    width:100%;
    position:fixed;
    z-index:999;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 200px;

}
.logo{
    color:#D0D7E1;
    font-size:1.8em;
    font-weight:700;
}
.navigation a {
    text-decoration:none;
    color:#D0D7E1;
    font-size:1.1em;
    font-weight:500;
    padding-left:30px;
}
.navigation a:hover {
   opacity: 50%;
}
#i{
    color:#072D44;
    padding-right: 15px;
}



.navbar{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .navlist{
    list-style: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-bottom:10px ;
}
.navbar .navlist li{
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
}
.navbar .navlist li:hover{
  cursor: pointer;
  color: rgba(76, 24, 136, 0.703);
}
.navbar p{
    padding-top: 5px;
    color: #072D44;
    font-size: .9rem;
    
}
.navbar .logo span{
    color: rgba(0, 0, 0, 0.734);
}

.hero-section{
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.hero-section video{
    width: 600px;
    height: 400px;
    border-radius: 20px;
}
.search-container {
    position: relative;
}

.search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #5790AB;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.main-content-container{
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
    padding:20px;
    margin-top:10px;
}

.categories{
    text-align:center
}
.categories .suggestions{
    color: rgba(76, 24, 136, 0.703);
    font-size: x-large;
    font-weight: 800;
}
.categories .category-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.categories .category-list li:hover{
   cursor: pointer;
   color: rgba(76, 24, 136, 0.703);
}

.categories p{
    padding-top: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: large;
    font-weight: 700;
}


.main-content-container .content {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin:20px;
}
.main-content-container img {
  border-radius: 10px;
  padding: 5px;
   
}
.main-content-container .content .cart-btn {
    color:#1c1502f8 ;
    background-color: rgba(76, 24, 136, 0.703);
    padding: 5px 10px;
    border-radius: 10px;
}
.main-content-container .content .cart-btn:hover {
    cursor: pointer;
}