@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.container {
    /* background: linear-gradient(45deg, blueviolet, lightgreen); */
    padding: 15px 9%;
    padding-bottom: 100px;
    margin-top: 150px;
}

.container .heading {
    text-align: center;
    padding-bottom: 15px;
    color: #ff0000;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 50px;
}

.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 3fr));
    gap: 10px;
}

.container .box-container .box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}

.container .box-container .box img {
    height: 200px;
    width: 270px;
}

.container .box-container .box h3 {
    color: #444;
    font-size: 22px;
    padding: 10px 0;
}

.container .box-container .box p {
    color: #777;
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .box .btn {
    margin-top: 10px;
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .box-container .box .btn:hover {
    letter-spacing: 1px;
}

.container .box-container .box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.03);
}

@media (max-width:768px) {
    .container {
        padding: 20px;
    }
}

#results {
    border: 1px solid #ccc;
    display: none;
}

#results li {
    padding: 5px;
    background-color: #f5f5f5;
    margin-bottom: 1px;
}

#results .highlight {
    background-color: #ff0;
}

header {

    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    top: 0;
}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 700;
}

.navigation a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover {
    opacity: 50%;

}

body {
    /* background: linear-gradient(45deg, blueviolet, lightgreen); */

}


header{
    background-color:#5790AB;
    width:100%;
    position:fixed;
    z-index:999;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 200px;

}
.logo{
    text-decoration:none;
   
    text-transform:uppercase;
    font-size:1.8em;
    font-weight:700;
    color:#D0D7E1;
    -webkit-text-stroke:thin #072D44;

  

}

.verge{
    color:#064469;
    -webkit-text-stroke:thin #78a1ad;
    font-size:1.4em;
    font-weight:700;
}
.navigation{
    display: flex;
  
}

.navigation a {
    text-decoration:none;
    color:#D0D7E1;
    font-size:1.1em;
    font-weight:500;
    padding-left:30px;
    margin-right: 20px;
}
.navigation a:hover {
   opacity: 50%;
}
#i{
    color:#072D44;
    padding-right: 15px;
}
#i1{
   margin-left: 30px;
   color: #072D44;
 
   
   
}

.verge{
    color:#064469;
    -webkit-text-stroke:thin #78a1ad;
}
section {
    padding:100px 200px;
    display: flex;
    justify-content: space-between;
   
   
}
.main {
    background-color: white;
   
    width:100%;
    min-height:100vh;
    display:flex;
    align-items:center;
    background-size:cover;
    background-position:center ;
    background-attachment:fixed;
    opacity: 90%;
  
   
 
   
}

.main h2 {
    color:#064469;
    font-size:1.4em;
    font-weight:500;

}
.main h2 span{
    color:#072D44;
    font-size:3em;
    font-weight:600;
    display:inline-block;
    margin-top:10px;
   
}
.main h3{
    color:#064469;
    font-size:2em;
    font-weight:700;
    letter-spacing:1px;
    margin-top:10px;
    margin-bottom:30px;

}


.imgm{
    width: 500px;
    border-radius: 50%;
    float: right;
  
}
.title{
    color:#D0D7E1;
    font-size:2.2em;
    display:flex;
    font-weight:800;
    margin-bottom:0px;
    justify-content:center;
   

}

#img1{
    width: 280px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 30px 30px 20px rgb(94, 84, 70, 0.15);

}
.p{
    color: #e6e3df;
    margin-left: 50px;
    line-height: 40px;
}

#ac{
    text-decoration: none;
    color:#e6e3df ;
}
#menu{
    width: 120px;
    height: 100vh;
    background-color:#072D44;
    padding: 5px;
    color: #261f13;
    border-top-left-radius: 10px;
}

#menu p{
    margin-bottom: 60px;
   
}
#menu #ac{
   margin-top: 5px;
}
#menu #ex{
    margin-top: 280px;
}
#menu p:hover ,button:hover{
    background-color:#5790AB;
  
    transition: .8s ease-in-out;
    cursor: pointer;
}
.hide{
    display: none;
}

 .m-menu{
   
    margin-top: 105px;
    position: absolute;
    right:0;

    z-index: 999;
  
   
} 

 
 #open{
    margin-left: 30px;
 }


 .hid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px ;
    margin-right: 100px;
    text-align: center;
    z-index: 999;
  
}
.hid{
    
    display: none;
} 
#main{
    width: 400px;
    background-color: #e6e3df;
    border-radius: 25px;
    padding: 20px;
    opacity: 60%;
}
#icon{
    margin-left: 10px;
}
 


#text{
    margin-left: 35px;
}
#dd{
  margin-right: 100px;
}
.center{
    display: flex;
    justify-content: center;
}
label{
    color: #072D44;
}
.main input{
    color:#D0D7E1;
    background-color: #5790AB;
    border-radius: 5px;
    margin: 10px;
}
::placeholder{
   color: #064469;
}
#x{
    background-color:#5790AB ;
    border-radius: 5px;
    width: 100px;
   
 
    transition: 0.7s ease;
}
#x:hover{
    opacity: 50%;
    transform: scale(1.1);
}

pre{
    display:inline;
}
p{
    color:#D0D7E1;
}
.d{
    margin-right: 100px;
   

}
#eye{
  color: #072D44;
}

.hid{
    
    display: none;
} 

#btn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #D0D7E1;
    color: #072D44;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
   
    display: none;
}


.button{
    margin-left: 20px;
    width: 80%;
    height: 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    transition:.7s ease ;
    background-color:#78a1ad;
    border-radius: 10px;
    padding: 5px;
    margin-top: 38px;
  
 }
.button:hover{
    transform: scale(1.06);
}
#minus,#plus{
    color:#072D44;
 }
#add{
    color:#072D44;
}

#minus ,#plus{
    padding-left: 5px;
    color: #072D44;
}


.heart{
    display: flex;
    justify-content: space-between;
    


}
.hearts{
    color:#D0D7E1;
    font-size: 20px;
    margin-left: 40px;
   
  
    
}
#spans{
  
    color:#D0D7E1 ;
   
}

.order .cart{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: relative;
    
    left: 222px;
    top: 15px;

 
 }
 .order{
  margin: 0;
 }
 .cart{
    left: 0;
   
   
}
#carts{
    color:#D0D7E1;
 
}
 .span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #D0D7E1;
    position: absolute;
    top: -35px;
    left:-203px;
    color:#064469;
    
   
 }
 
footer{
    font-family: 'Times New Roman', Times, serif;
    background-color: #072D44;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

}
footer a{
    text-decoration: none;

}
footer ul{
    list-style: none;
}
footer .u-sec1 .logo{
    
      color: #5790AB;
      letter-spacing: 1px;
      padding: 5px 10px;
      font-size: 30px;
      -webkit-text-stroke:thin #D0D7E1;
}
footer .verge{
    color: #D0D7E1;
    -webkit-text-stroke:thin#5790AB;
}
footer .u-sec1 ul , .d .d-sec2 ul,.d-sec2 div h1{
     margin: 0;
     padding: 0 20px;
      
}

footer .u-sec1 ul h1  ,.d-sec2  h1{
    color:#5790AB;
    line-height: 15px;
}
footer .u-sec1 ul li a , footer .d-sec2 ul li p , .d-sec2 ul li a{
    font-size-adjust: 16px;
    color: #D0D7E1;
    line-height: 15px;

}

footer .u-sec1 ul li a:hover , .d-sec2 ul li a:hover{
  opacity: 50%;
    transition: color is ease-in-out;
}

.u-sec1 ,.d-sec2{
    display: flex;
    justify-content: space-between;
    padding: 3% 0;
    margin: 5px;
    width: 89%;
    flex-wrap: wrap;

}
.u-sec1{
    border-bottom: 2px solid #5790AB;
}
.u-sec1 h1,.d-sec2 h1{
    margin-bottom: 10px;
    color: #5790AB;
}
.ph{
    color: #D0D7E1;
}
.social-icon{
    margin-top: 10px;
    display: flex;
    
}

.social-icon a{
    width: 35px;
    height: 35px;
    margin: 0 5px;
    background-color: #5790AB;
    box-shadow: 2px 2px 12px rgb(94, 84, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.social-icon a:hover{
    opacity: .7;
    transition:  ease 1s;

}
.email input{
    height: 35px;
    width: 200px;
    text-align: center;
    border: none;
    outline: none;
    background-color: #D0D7E1;
    color: #064469;

   
}
.su{
    width: 50px;
    height: 30px;
    border-radius: 10px;
    background-color: #D0D7E1;
    border: none;
}
.social-icon i{
    color: #072D44;
    font-size: 14px;
}


.copy{
    font-size: 14px;
    color: #D0D7E1;

}

.card-ev{
    margin-top: 40px;
    width: 250px;
    height: 80px;
    border-radius: 20px;
    background-color: #D0D7E1;
}
.card-ev p{
   
    display: flex;
    justify-content: center;
}

.ii{
    margin-left: 60px;
}
.star{
    
   
    padding:10px 20px;
    font-size: 20px;
    color:#5790AB;
 }
.su{
    color: #072D44;
}
