*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'poppins',sans-serif;
}
   body{
 background-image: url("فساتين2/كل-ما-تحتاج-إلى-معرفته-للبدء-في-مشروع-محل-ملابس.png"); 
 background-repeat: no-repeat;
 background-size: cover; 
 } 


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #613d3d;
    color: rgb(188, 97, 97);
    padding: 0px 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
a{
    margin-right: 120px;
    color: aliceblue;
     text-decoration:none;
     transition: ease .5s;
    font-size: 22px;
    }
a:hover{
        color:rgb(176, 65, 65);
        font-size: 27px;
    }
section {
        text-align: center;
       color: rgba(219, 35, 15, 0.977);
       display: flex;
     padding: 50px 650px;
      font-size: x-large;
      font-style: italic;
    margin-right: auto;
    margin-left: auto;}
  
   
.content{
    width: 100%;
    display: flex;
    margin-bottom: 1000px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
  }
.shirt{
      width: 25%;
      height: 300px;
      margin-bottom:250px;

    }
    button{
      color: aliceblue;
      background-color: #800;
      opacity: 70%;
      border-radius: 7px;
    }
  
    

  .search{
    position: relative;
    background-color:  rgba(150, 30, 17, 0.977);
    width: 40px;
    height: 40px;
    left: 200px;
    top: 3px;
    border-radius: 60px;
    transition: 0.5s;
    overflow: hidden; margin-top: -50px;
    margin-left: 420px;
  }
  .search.active{
    width: 250px;

  }
  .search .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color:  rgba(150, 31, 17, 0.977);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
 align-items: center;

   
 
  }
  .search .input{
    position: relative;
    width: 250px;
    height: 40px;
    left: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 250px;

  }
  ::placeholder{
    color: white;
  }
  .search .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: rgba(150, 29, 15, 0.977) ;
    color: white;
  }
  .x{
    position: absolute;
    top: -12%;
    right: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
  }
footer {
  background-color: #613d3d;
  color: #fff;
  padding: 30px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.copyright,
.terms-of-service,
.privacy-policy,
.contact-us,
.social-media,
.recent-posts,
.email-signup,
.cta {
  flex-basis: 25%;
  padding: 0 15px;
}

.copyright p {
  font-size: 14px;
  margin: 0;
}

.terms-of-service a,
.privacy-policy a,
.contact-us a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}
div #information{
  display: block;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #5790AB;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}


